@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  @apply bg-[url('../public/images/banner.webp')] bg-slate-900 bg-no-repeat bg-center bg-cover;
}
.newBanner {
  @apply bg-[url('../public/images/fullcard_image.webp')];
}
body,
html {
  overflow-x: hidden;
}
.nextArrow,
.slick-next,
.slick-prev {
  @apply text-black  p-2 rounded-full shadow-md !bg-gray-600;
}
@layer components {
  .image-container {
    @apply relative overflow-hidden flex justify-center;
  }

  .image-container::before {
    content: "";
    @apply absolute inset-0 bg-black bg-opacity-50 transition-opacity duration-500 ease-in-out;
    z-index: 10;
  }

  .image-container:hover::before {
    @apply opacity-30;
  }

  .image-container img {
    z-index: 0;
  }
  .image-container p {
    @apply absolute right-5 bottom-5 text-white bg-opacity-75 p-2;
    z-index: 20;
  }
}
.slick-disabled {
  @apply !hidden;
}
.slick-active > .active-dot {
  @apply bg-red-500 border border-black w-[0.75rem] h-[0.75rem] dark:border-white;
}
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #ef4444 #edf2f7;
}
.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #ef4444;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 10px;
  border: 2px solid #edf2f7;
}
